body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.action {
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
}

.action.active {
    background-color: #007bff;
    color: white;
}

ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
}

.overdue {
    background-color: #ffcccc !important;
}
